body {
    margin: 0;
    padding: 0;
    background-color: #652ebf;
    color: #fff;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genre-column {
    display: flex;
    flex-direction: column;
    text-align: center;
}